# Backups e temporários
*.bak
*.tmp
*~
.~lock.*#
.$*.drawio.bkp
.$*.drawio.dtmp

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Node / React
node_modules/
dist/
build/
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.iml
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log
